<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ADD A CAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="carForm" (ngSubmit)="createCar()" class="form-container">
    <ion-item lines="full" class="input-item">
      <ion-label position="floating">Brand</ion-label>
      <ion-input formControlName="brand" type="text"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="getFormControl('brand')?.hasError('required') && getFormControl('brand')?.touched">
      The brand is obligatory
    </ion-note>

    <ion-item lines="full" class="input-item">
      <ion-label position="floating">Model</ion-label>
      <ion-input formControlName="model" type="text"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="getFormControl('model')?.hasError('required') && getFormControl('model')?.touched">
      The model is obligatory
    </ion-note>

    <ion-item lines="full" class="input-item">
      <ion-label position="floating">Power</ion-label>
      <ion-input formControlName="power" type="text"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="getFormControl('power')?.hasError('required') && getFormControl('power')?.touched">
      The power is obligatory
    </ion-note>

    <ion-button type="submit" expand="block" [disabled]="!carForm.valid" class="submit-button">
      Add a car
    </ion-button>
  </form>
</ion-content>
