<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CARS IN STOCK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="car-list">
    <div class="car-header">
      <div class="car-column">Brand</div>
      <div class="car-column">Model</div>
      <div class="car-column">Update</div>
      <div class="car-column">Delete</div>
    </div>
    <div *ngFor="let c of concensionary" class="car-row">
      <div class="car-column">{{c.brand}}</div>
      <div class="car-column">{{c.model}}</div>
      <div class="car-column">
        <ion-button (click)="deteleCar(c.id)" color="danger">Delete</ion-button>
      </div>
    </div>
  </div>
  


</ion-content>