.car-list {
    width: 60vw;
    margin: 20px auto;
    .car-header {
        display: flex;

        background-color: rgb(0, 132, 255);
        color: #fff;
        text-transform: uppercase;
        padding: 12px 15px;
        font-weight: bold;
    }

    .car-row {
        display: flex;
        padding: 12px 15px;
        border-bottom: 1px solid #ddd;
        align-items: center;

        &:nth-child(even) {
            background-color: #424242;
        }
    }

    .car-column {
        flex: 1;
        text-align: left;
        color: #ffffff;
    }
}

#content{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.title{
    color: rgb(0, 132, 255);
    font-weight: bold;
}